[submodule "misc/python/extern/pybind11"]
	path = misc/python/extern/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "misc/python/extern/xtensor-python"]
	path = misc/python/extern/xtensor-python
	url = https://github.com/xtensor-stack/xtensor-python.git
	branch = master
